* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 14px;
    background: #040b7a;
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    left: 0;
}

.menu {
  width: max-content;
  position: sticky;
  top: 0;
  left: 0;
}

.menu p {
  background-color: white;
  color: black;
  display: flex;
  width: auto;
  padding: 5px;
  font-size: 15px;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.menu p span {
  transform: rotate(90deg);
  font-family: monospace;
}

ul {
  position: absolute;
  width: 130px;
  background-color: rgba(66, 136, 249, 0.7);
  list-style: none;
  text-align: left;
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
  border-radius: 5px;
  align-items: end;
}

li a {
  display: flex;
  color: black;
  padding: 10px 0 10px 10px;
  font-size: 15px;
  text-decoration: none;
  box-sizing: border-box;
  transition: all .3s;
  border-radius: 5px;
}

.menu p:hover ~ ul, ul:hover {
    opacity: 1;
    visibility: visible;
}

a:hover {
    background-color: linear-gradient(135deg, #3024d6, #00bcd4);
    color: rgb(255, 255, 255);
}

.hero {
    height: 100vh;
    background: linear-gradient(135deg, #3024d6, #00bcd4);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

/*ponsel*/
@media (max-width: 600px) {
    .section {
   padding: 60px 40px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.ke1 {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    width: 250px;
    
}

.ke2 {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80px;
}

.card2 {
    background: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 380px;
    margin: 10px;
}

img {
    display: flex;
    justify-content: center:
    align-items: center;
    width: 360px;
}

.card3 {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    margin: 8px;
    padding: 4px;
    
}

}
/*ponsel*/

@media (min-width: 601px) {
    .section {
    padding: 60px 40px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.ke1 {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    width: 500px;
    
}

.ke2 {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80px;
}

.card2 {
    background: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 380px;
    margin: 10px;
}

img {
    width: 550px;
}

.card3 {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    margin: 8px;
    padding: 4px;
    width: 200px;
}

}

.con-utama {
    display: flex;
    justify-content: center;
    align-items: start;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card4 {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    margin: 8px;
    padding: 7px;
    width: 150px;
    height: 66px;
}

.ke3 {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    margin: 8px;
    padding: 5px;
    width: 150px;
    
}

a {
    color: #000000;
}


footer {
    text-align: center;
    padding: 5px;
    background: #111;
    color: white;
}

html {
    scroll-behavior: smooth;
}
